.custom-footer {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 10px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  border-top: 2px solid #ff69b4;
}

.footer-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ff69b4;
}

.footer-content p {
  margin: 8px 0;
  font-size: 1rem;
  color: #000000;
}

.social-links {
  margin: 20px 0;
}

.social-links a {
  margin: 0 10px;
  color: #ff69b4;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color:#4e2439;
}

.contact-info {
  font-size: 0.95rem;
  color: #bbb;
}

.copyright {
  font-size: 0.85rem;
  color: #000000;
  margin-top: 10px;
}